@using OnBoarding.Controllers;
@using static OnBoarding.Controllers.AuthorizeController

@{
    string token = Globals.JWTToken;

    if(token != null){
        Globals.isUserAuthorized = true;
    };

    Console.WriteLine(Globals.isUserAuthorized);
}



<!DOCTYPE html>
<html lang="en">
@{
    var error = ViewBag.Error;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnBoarding</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnBoarding.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-menu">
            <a class="navbar-brand" href="#" style="margin-left: 1rem;">
                <img src="/img/Logobukvy.png" width="150" height="45" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Quests", "Home")">Мои Квесты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "LeaderBoard")">Таблица лидеров</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Документация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Users")">Список пользователей</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Subdivisions")">Список подразделений</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Quests")">Банк квестов</a>
                    </li>
                </ul>

                @{
                    if (Globals.isUserAuthorized){
                            <div class="m-3">
                                <p class="d-inline">@Globals.authorizedUser.about.fio </p>
                                <p class="d-inline">10</p>
                                <img class="d-inline" src="/img/Coin.png" width="30" height="30">
                            </div>
                    }
                    else{
                            <div class="form-inline">
                                <button type="button" class="btn btn-modal m-2" data-toggle="modal" data-target="#logInModal">Войти</button>
                            </div>
                    }
                }
                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer" style="background-color: #ECE8FF; color: #3A3A3A;">
        <div class="container d-flex justify-content-center">
            <img class="align-self-center" src="/img/rosmol_logo_monochrome1.png" width="200" height="40">
            <span class="text-muted">Продукт создан в рамках хакатона "Молодёжный бит"</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <form method="post" action="/Authorize/Auth">
        <div class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="logInModalLabel">Добро пожаловать</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="email-for-login" class="col-form-label">Email:</label>
                            <input type="email" name="email" class="form-control" id="email-for-login">
                        </div>
                        <div class="mb-3">
                            <label for="pswd-for-login" class="col-form-label">Password:</label>
                            <input type="password" name="password" class="form-control" id="pswd-for-login">
                        </div>

                        <div class="mb-3 d-flex justify-content-center">
                            <p class="mx-1">Нет аккаунта?</p>
                            <a class="pointerCursor link-without-hover" data-dismiss="modal" data-toggle="modal" data-target="#registerModal"><b>Зарегистрироваться</b></a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-modal">Войти</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form method="post" action="/Authorize/Register">
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registerModalLabel">Регистрация</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="email-for-register" class="col-form-label">Email:</label>
                            <input name="email" type="email" class="form-control" id="email-for-register">
                        </div>
                        <div class="mb-3">
                            <label for="pswd-for-register" class="col-form-label">Password:</label>
                            <input name="password" type="password" class="form-control" id="pswd-for-register">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-modal">Зарегистрироваться</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Регистрация</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    Кажется, что-то пошло не так...
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    window.onload = function()  {
        var error = @ViewBag.Error;
      if (error == "error"){
          $('#errorModal').modal('show');
      }
    };

</script>